.input{

    margin: 2rem auto;
    text-align: left;
    padding: 1rem;
    width: 90%;
    max-width: 40%;
}

.input label{

    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input input{

    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 00.5rem;
}

.input input:focus{

    outline: none;
    border-color: rgb(243, 109, 154);
}

/* .input button{
    font:inherit;
    border: 1px solid #4f005f;
    background-color: #4f005f;
    color: ivory;
    padding: 0.25rem 1 rem;
    cursor: pointer;
}

.input button:focus{
    outline: none;
} */